In [1]:
import pandas as pd
import plotly.graph_objects as go
import datetime as dt

In [2]:
pair = "GBP_NZD"
granularity = "H4"
df = pd.read_pickle(f"../data/{pair}_{granularity}.pkl")

In [5]:
df.tail()

,volume,time,mid-o,mid-h,mid-l,mid-c,bid-o,bid-h,bid-l,bid-c,ask-o,ask-h,ask-l,ask-c
3996,9360,2023-12-08 02:00:00+00:00,2.04138,2.04450,2.03914,2.04277,2.04106,2.04418,2.03880,2.04242,2.04170,2.04483,2.03948,2.04312
3997,12182,2023-12-08 06:00:00+00:00,2.04284,2.04438,2.04087,2.04294,2.04249,2.04408,2.04053,2.04262,2.04318,2.04469,2.04118,2.04325
3998,18696,2023-12-08 10:00:00+00:00,2.04294,2.04782,2.03977,2.04670,2.04265,2.04748,2.03727,2.04633,2.04324,2.04969,2.04227,2.04708
3999,30307,2023-12-08 14:00:00+00:00,2.04669,2.05046,2.04379,2.04864,2.04630,2.05014,2.04130,2.04823,2.04708,2.05077,2.04432,2.04905
4000,6630,2023-12-08 18:00:00+00:00,2.04864,2.05120,2.04806,2.04990,2.04824,2.05002,2.04594,2.04922,2.04905,2.05278,2.04853,2.05058

In [6]:
df_plot = df.iloc[:100]

In [10]:
fig = go.Figure()
fig.add_trace(go.Candlestick(
    x=df_plot.time,
    open=df_plot.mid_o,
    high=df_plot.mid_h,
    low=df_plot.mid_l,
    close=df_plot.mid_c
))

fig.show()

AttributeError: 'DataFrame' object has no attribute 'mid_o'